<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moire.tcg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JobSelect" android:label="JobSelect"/>
        <activity android:name=".Help" android:label="Help"/>
        <activity android:name=".ModeSelect" android:label="ModeSelect"/>
        <activity android:name=".SelectLevel" android:label="SelectLevel"/>
        <activity android:name=".BattlePage" android:label="Battle"/>
        <activity android:name=".BattleResult" android:label="Result"/>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>